/Example/Example.Domain/obj
/Example/Example.Domain/bin
/Example/Example.UI/bin
/Example/Example.UI/obj
/Example/Example.UnitTests/bin
/Example/Example.UnitTests/obj
/Example/Example.UnitTests/*.DotSettings
